@import '../../../../utils/sass/colors';
@import '../../../../utils/sass/typography';
@import '../../../../utils/sass/media-queries';

.main-hero{
    width: 100%;
    height: 70vh;  
    display: flex;

    @include mq-lg{
        height: 791px;
    }

    .hero-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        max-width: 600px;
        margin: 0 auto;
        padding: 0 20px;

        @include mq-sm{
            align-items: flex-start;
            text-align: left;
        }

        @include mq-md{
            margin: 0 0 0 173px;
            padding: 0;
        }

        h2{
            font-size: 40px;
            color: $white;
            margin-top: 0;
            font-weight: 500;

            @include mq-sm{
                @include text-style(3);
            }

            span{
                @include text-green;
                font-weight: bold;
            }
        }
    }
}