@import '../../utils/sass/colors';
@import '../../utils/sass/media-queries';

footer{
    background-color: $green;
    width: 100%;
    min-height: 203px;
    padding: 35px 0 35px 78px;
    position: relative;
    display: flex;
    align-items: center;

    nav{
        .page-nav{
            display: flex;
            flex-direction: column;
            list-style: none;
            margin-bottom: 15px;
            padding: 0;
            margin-top: 0;
            margin-bottom: 20px;

            @include mq-md{
                width: 440px;
                flex-direction: row;
                justify-content: space-between;
            }

            li {
                margin-bottom: 10px;
                
                @include mq-md{
                    margin-bottom: 0;
                }
                
                a{
                    color: #2b3049;
                    font-size: 13px;
                    letter-spacing: 1.14px;
                }
    
                .active{
                    font-weight: bold;
                }
            }
        }

        .social-networks{
            list-style: none;
            display: flex;
            padding: 0;
            margin: 0 -6px 0 -6px;

            img{
                width: 31px;
                height: 31px;
                margin: 0 6px;
            }
        }
    }

    .footer-logo{
        width: 55px;
        height: 55px;
        position: absolute;
        top: 77px;
        right: 63px;
    }
}